<figure class="sample-image">
  <img
    coorAxis
    (coordinates)="mouseOutput($event)"
    (mouseEnter)="mouseEnter($event)"
    [alt]="imageAlt"
    [src]="imageUrl"
  />
</figure>

<ng-template #imageLensTemplate>
  <figure
    [ngStyle]="{
      position: 'relative',
      margin: 'unset',
      width: boxSizeWidth + 'px',
      overflow: 'hidden',
      height: boxSizeHeight + 'px'
    }"
  >
    <img
      [ngStyle]="imageStyle(imageInfo.coor)"
      [alt]="imageLensAlt || 'scaled ' + imageAlt"
      [src]="imageLensUrl"
    />
  </figure>
</ng-template>

<img #imageLens [src]="imageLensUrl" style="display: none" />
