/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

// Palettes

$dark-primary-text: rgba(black, 0.9);
$light-primary-text: white;

$light-primary-palette: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$light-accent-palette: (
  50: #f1f8e9,
  100: #dcedc8,
  200: #c5e1a5,
  300: #aed581,
  400: #9ccc65,
  500: #8bc34a,
  600: #7cb342,
  700: #689f38,
  800: #558b2f,
  900: #33691e,
  A100: #ccff90,
  A200: #b2ff59,
  A400: #76ff03,
  A700: #64dd17,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$light-warn-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

// Dark palette

$dark-primary-palette: (
  50: #e1f5fe,
  100: #b3e5fc,
  200: #81d3fa,
  300: #4fc2f7,
  400: #29b5f6,
  500: #05a8f4,
  600: #069ae5,
  700: #0587d1,
  800: #0576bd,
  900: #04569b,
  A100: #80d8ff,
  A200: #40c4ff,
  A400: #00b0ff,
  A700: #0091ea,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dark-accent-palette: (
  50: #d8fdf5,
  100: #9bf9e3,
  200: #29f6d0,
  300: #00edbc,
  400: #00e2ac,
  500: #00d89d,
  600: #00c88e,
  700: #00b57c,
  800: #00a46d,
  900: #00854c,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dark-warn-palette: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

// Themes
$light-primary: mat.define-palette($light-primary-palette);
$light-accent: mat.define-palette($light-accent-palette);
$light-warn: mat.define-palette($light-warn-palette);

$dark-primary: mat.define-palette($dark-primary-palette);
$dark-accent: mat.define-palette($dark-accent-palette);
$dark-warn: mat.define-palette($light-warn-palette);

$care: mat.define-palette($dark-warn-palette);

// Light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
      care: $care,
    ),
  )
);

// Dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
      care: $care,
    ),
  )
);

// Apply dark theme by default
// @include mat.all-component-themes($dark-theme);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  // @include mat.core-theme($dark-theme);
  // @include mat.button-theme($dark-theme);
}

// Apply light theme only with .light-the in class
.light-theme {
  @include mat.all-component-colors($light-theme);
  // @include mat.all-component-themes($light-theme);
  // @include mat.core-color($light-theme);
  // @include mat.button-color($light-theme);
}

// Typography
$custom-typography: mat.define-typography-config(
  $title: mat.define-typography-level(2rem, 1, 800),
  $button: mat.define-typography-level(0.9rem, 1, 600),
  $font-family: "Nunito",
);

@include mat.all-component-typographies($custom-typography);

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Nunito", sans-serif;
}

.css-class {
  width: 333px;
}
